<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{#pageName}}{{pageName}} | {{/pageName}}{{{site-title}}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="viewport" content="{{{viewport}}}">
<meta property="og:title" content="{{#pageName}}{{pageName}} | {{/pageName}}{{site-title}}">
<meta property="og:description" content="{{description}}">{{#pageName}}
<meta property="og:type" content="article">{{/pageName}}{{^pageName}}
<meta property="og:type" content="website">{{/pageName}}
<meta property="og:url" content="{{{domain}}}{{#pageUrl}}{{{pageUrl}}}{{/pageUrl}}">
<meta property="og:image" content="{{{domain}}}images/ogp.jpg">
<meta property="og:site_name" content="{{site-title}}">
<meta property="og:locale" content="ja_JP">
<link rel="shortcut icon" href="/favicon.ico">
{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{> ga }}
<script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<header id="header">
  <h1>{{site-title}}</h1>
</header>